/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
textarea,
input {
  -webkit-appearance: none;
  border-radius: 0;
}
HTML {
  height: 100%;
  background: #FFF;
  -webkit-overflow-scrolling: touch;
}
BODY {
  min-height: 100%;
  position: relative;
  color: #010000;
  background: #FFFFFF;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
.container {
  padding-right: 14px;
  padding-left: 14px;
  background: white;
}
.content {
  min-width: 100%;
  max-width: 1400px;
}
*:after,
*:before {
  box-sizing: border-box;
}
.row {
  margin-left: -7px;
  margin-right: -7px;
}
.col-md-3 {
  width: 25%;
  position: relative;
  min-height: 1px;
  float: left;
}
.col-md-4 {
  width: 33.33333333%;
  position: relative;
  min-height: 1px;
  float: left;
}
.col-md-6 {
  width: 50%;
  position: relative;
  min-height: 1px;
  float: left;
}
.col-md-12 {
  width: 100%;
  position: relative;
  min-height: 1px;
}
.form {
  background: #f9f9f9;
  border: 1px solid #cdcdcd;
  width: 420px;
  height: 120px;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 0 #fff;
  border-radius: 3px;
}
.font-form {
  height: 150px;
}
.fileform {
  background: #FFFFFF;
  border: 1px solid #576270;
  border-radius: 2px;
  cursor: pointer;
  height: 30px;
  overflow: hidden;
  padding: 1px;
  position: relative;
  top: 21px;
  left: 15px;
  float: left;
  text-align: left;
  vertical-align: middle;
  width: 230px;
}
.fileform .selectbutton {
  font-family: "PT Sans", sans-serif, Arial;
  -moz-box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
  border: 1px solid #939494;
  border-radius: 2px;
  color: #FFFFFF;
  float: right;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
  padding: 1px 6px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #576270;
  background: -webkit-gradient(linear, left top, left bottom, from(#576270), to(#748295));
  background: -moz-linear-gradient(-90deg, #4d5663, #748295);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#576270', endColorstr='#748295');
}
.fileform #File {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  height: 30px;
  cursor: pointer;
}
.fileform #fileformlabel {
  background-color: #FFFFFF;
  float: left;
  height: 27px;
  line-height: 24px;
  overflow: hidden;
  padding: 2px;
  text-align: left;
  vertical-align: middle;
  width: 165px;
}
.err {
  position: absolute;
  top: 107px;
  left: 40%;
  width: 200px;
  color: red;
  z-index: 999;
}
.add {
  vertical-align: middle;
  white-space: nowrap;
  margin: 0;
  outline: none;
  font-size: 1em;
  user-select: none;
  position: relative;
  font-family: "PT Sans", sans-serif, Arial;
  line-height: 1.4;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #576270;
  -moz-box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.4);
  -moz-border-radius: .3em;
  border-radius: 3px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  background: #576270;
  background: -webkit-gradient(linear, left top, left bottom, from(#576270), to(#748295));
  background: -moz-linear-gradient(-90deg, #4d5663, #748295);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#576270', endColorstr='#748295');
}
.add.add-send {
  float: right;
  margin-top: 16px;
  right: 15px;
}
.add.add-font {
  left: 26px;
  margin-top: -60px;
}
.add.add-upd {
  left: 26px;
}
.add.add-text {
  margin-top: 35px;
  left: 26px;
}
.add:active {
  top: 1px;
  background: #576270;
}
.add:hover {
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
  background: #5d6c7e;
  background: -webkit-gradient(linear, left top, left bottom, from(#748295), to(#576270));
  background: -moz-linear-gradient(-90deg, #748295, #576270);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#748295', endColorstr='#576270');
}
.options {
  background: #f9f9f9;
  border: 1px solid #cdcdcd;
  width: 420px;
  height: 150px;
  position: relative;
  top: 15px;
  left: 20px;
  -webkit-box-shadow: 0 1px 0 #fff;
  border-radius: 3px;
}
.options.fix {
  float: left;
  margin-right: 20px;
}
.main {
  float: left;
  margin: 15px;
  width: 100%;
}
.field {
  line-height: 30px;
  margin-bottom: 10px;
}
.field label {
  float: left;
  padding-right: 25px;
  font-size: 18px;
}
.field select {
  font-family: inherit;
  height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0 14px;
  font-size: 18px;
  background: transparent;
  transition: .3s;
  border-radius: 5px;
  margin-bottom: 10px;
}
.field input {
  font-family: inherit;
  height: 30px;
  border: 1px solid #d9d9d9;
  padding: 0 0 0 14px;
  font-size: 18px;
  background: transparent;
  transition: .3s;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 66px;
}
.sample {
  margin-bottom: 8px;
}
.btn-block {
  margin-left: 15px;
  clear: both;
}
.btn-fix:nth-child(2) {
  margin-top: 38px;
  margin-left: 90px;
}
.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  position: relative;
  border: none;
  border-radius: 26px;
  margin: 0;
  outline: none;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 700;
  font-size: 16px;
  padding: 4px 20px;
  user-select: none;
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-color: #01d3ec;
  color: #fff;
  transition: background-color 0.2s;
}
.btn.btn-sm {
  font-size: 14px;
  padding: 2px 15px;
}
.btn.btn-sm-square {
  font-size: 16px;
  padding: 9px 25px;
}
.btn.btn-square {
  font-size: 20px;
  padding: 12px 30px;
}
.btn.add-font {
  position: absolute;
  top: 70px;
  right: 150px;
  font-size: 14px;
  padding: 9px 25px;
  text-decoration: none;
}
.btn:hover {
  background-color: #03abd0;
}
.btn:active {
  top: 1px;
}
.title {
  margin: 15px;
  vertical-align: baseline;
}
.txt {
  margin: 0 15px;
}
.txt p {
  margin-bottom: 30px;
  vertical-align: baseline;
}
.form_block {
  margin-bottom: 14px;
}
.form_block .form_block__label {
  margin-bottom: 7px;
}
.form_block .form_block__label label {
  font-family: "PT Sans", sans-serif, Arial;
  font-size: 1.4em;
}
.form_block .form_block__input {
  margin-bottom: 5px;
}
.form_block input {
  height: 42px;
  border: 1px solid #d9d9d9;
  padding: 0 14px;
  width: 100%;
  font-size: 18px;
  background: transparent;
  transition: .3s;
  border-radius: 5px;
  vertical-align: baseline;
}
.ico {
  display: inline-block;
  vertical-align: baseline;
  top: .1em;
  line-height: 1;
  font-weight: 400;
  font-size: 1.2em;
  margin-right: .3em;
}
.form-add-font {
  width: 655px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}
.form-font {
  margin-left: 15px;
  margin-top: 15px;
  width: 310px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.form-font .font {
  position: relative;
  color: #888;
  margin: 0;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
.form-font .weight {
  position: relative;
  color: #888;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  padding-right: 15px;
  margin: 0;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
.form-font .weight span {
  height: 15px;
}
.form-font .weight ul li {
  padding: 5px 0;
}
.form-font .weight ul {
  position: absolute;
  right: -16px;
  top: 25px;
  width: 80px;
  display: none;
  background: white;
  z-index: 11;
  box-shadow: 1px 3px 5px;
}
.form-font .weight:after {
  position: absolute;
  top: 11px;
  right: 5px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #000000 transparent transparent transparent;
}
.form-font .style {
  width: 45px;
  position: relative;
  color: #888;
  border: none;
  cursor: pointer;
  padding: 5px 5px;
  padding-right: 15px;
  margin: 0;
  font-weight: bold !important;
  font-style: normal !important;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
.form-font .style span {
  height: 15px;
}
.form-font .style ul li {
  padding: 5px 0;
}
.form-font .style ul {
  position: absolute;
  right: 0;
  top: 30px;
  width: 80px;
  display: none;
  background: white;
  z-index: 11;
  box-shadow: 1px 3px 5px;
}
.form-font .style:after {
  position: absolute;
  top: 11px;
  right: 5px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: #000000 transparent transparent transparent;
}
.remove {
  font-size: 19px;
  font-weight: 800;
  color: red;
  position: relative;
  top: 2px;
  left: 5px;
  cursor: pointer;
}
